<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>filename</key>
		<string>0.png</string>
		<key>likes</key>
		<integer>1</integer>
		<key>comments</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>filename</key>
		<string>1.png</string>
		<key>likes</key>
		<integer>1</integer>
		<key>comments</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>filename</key>
		<string>2.png</string>
		<key>likes</key>
		<integer>4</integer>
		<key>comments</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>filename</key>
		<string>3.png</string>
		<key>likes</key>
		<integer>2</integer>
		<key>comments</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>filename</key>
		<string>4.png</string>
		<key>likes</key>
		<integer>1</integer>
		<key>comments</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>filename</key>
		<string>5.png</string>
		<key>likes</key>
		<integer>3</integer>
		<key>comments</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>filename</key>
		<string>6.png</string>
		<key>likes</key>
		<integer>1</integer>
		<key>comments</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>filename</key>
		<string>7.png</string>
		<key>likes</key>
		<integer>4</integer>
		<key>comments</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>filename</key>
		<string>8.png</string>
		<key>likes</key>
		<integer>4</integer>
		<key>comments</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>filename</key>
		<string>9.png</string>
		<key>likes</key>
		<integer>2</integer>
		<key>comments</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
